* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.menu-items {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 20px;
    background-color: #ffff;
    color: #2c3e50;
    font-family: Roboto;
    cursor: pointer;
}
.logo {
    margin-right: auto;
}
.item {
    transition: opacity 2s;
    margin-right: 40px;
}
.item:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
    color: #2c3e50;
}