* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.menu-items {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    padding: 20px;
    background-color: #ffff;
    color: #2c3e50;
    font-family: Roboto;
    cursor: pointer;
}
.logo {
    margin-right: auto;
}
.item {
    transition: opacity 2s;
    margin-right: 40px;
}
.item:hover {
    opacity: 50%;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

.logo-header {
    margin-left: 450px;
    margin-top: 200px;
    font-size: 70px;
    font-family: Montserrat;
}

.slogan {
    margin-left: 450px;
    font-size: 14px;
    font-family: Open Sans;
    padding-top: 10px;
}
.paragraph-text {
    width: 40%;
    font-size:26px;
    margin-top: -110px;
    margin-left: 850px;
    line-height: 40px;

}
header {
    background-image: url("https://cdn.pixabay.com/photo/2017/05/20/20/22/clouds-2329680_640.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size:cover;
    background-color: gray;
    padding-bottom: 100px;

    background-blend-mode: color;
}
.header-text {
    margin-top: 260px;
    color: #ffff;
    padding-bottom: 200px;
}